<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card mt-2">
                    <div class="card-header">Your Events</div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center" v-for="event in events">
                                <span><strong>{{ event.date }}:</strong> {{ event.eventName }}</span>
                                <span class="badge bg-light text-dark">By: {{ event.clientName }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mt-2">
                    <div class="card-header">New Event</div>
                    <div class="card-body">
                        <ul v-if="errorMessage" v-html="errorMessage" class="alert alert-danger" role="alert">
                        </ul>
                        <div v-if="rowInserted" class="alert alert-success" role="alert">
                            Event created successfully.
                        </div>
                        <form @submit.prevent="addEvent">
                            <div class="mb-3">
                                <label for="client" class="form-label">Client Name</label>
                                <input type="text" class="form-control" id="client" placeholder="John Doe" v-model="event.clientName">
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Birthday Party" v-model="event.eventName">
                            </div>
                            <div class="mb-3">
                                <label for="date" class="form-label">Date</label>
                                <input type="date" class="form-control datepicker" value="2020-12-31" id="date" placeholder="YYYY-MM-DD" v-model="event.date">
                            </div>
                            <button type="submit" class="btn btn-light btn-block">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
const default_layout = "default";


export default {
    computed: {},
    data() {
        return {
            events: [],
            errorMessage: false,
            rowInserted: false,
            event: {
                id: 0,
                clientName: '',
                eventName: '',
                date: ''
            }
        }
    },

    created() {
        this.fetchEvents();
    },

    methods: {
        fetchEvents() {
            fetch('api')
                .then(res => res.json())
                .then(res => {
                    this.events = res.data;
                })
        },
        addEvent() {
            this.errorMessage = false;
            this.rowInserted  = false;
            fetch('api', {
                method: 'post',
                body: JSON.stringify(this.event),
                headers: {
                    'content-type': 'application/json'
                }
            })
            .then(async response => {
                const data = await response.json();

                // check for error response
                if (!response.ok) {
                    let error = '';
                    Object.keys(data).forEach(key => {
                        error = error + "<li>" + data[key] + "</li>";
                    })
                    //const error = (data && data.message) || response.status;
                    return Promise.reject(error);
                }

                this.event.clientName = '';
                this.event.eventName  = '';
                this.event.date       = '';
                this.rowInserted      = true;
                this.fetchEvents();
            })
            .catch(error => {
                this.errorMessage = error;
                console.error('There was an error!', error);
            });
        }
    }
};
</script>
